:root {
    --accent-color: #ff69b4;
    --primary-color: #ffb6c1; /* Light Pink */
    --secondary-color: #e6e6fa; /* Lavender */
    --text-color: #4a4a4a;
    --background-color: #ffffff;
}

body {
    margin: auto;
    width: 400px;
    padding: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.form-group {
    max-width: fit-content;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

input[type="text"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus,
.content:focus {
    outline: none;
    border-color: var(--primary-color);
}

textarea {
    height: 100px;
    resize: vertical;
}

.error {
    color: #ff6b6b;
    margin-top: 5px;
    font-size: 14px;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover,
li:hover {
    background-color: var(--accent-color);
}

small {
    display: block;
    margin-top: 5px;
    color: #777;
    font-size: 12px;
}

#status {
    margin-top: 15px;
    font-weight: 600;
    color: #4caf50;
}

main {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

li {
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 3px 5px 3px 10px;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
}

li:hover {
    cursor: pointer;
}

a {
    color: var(--text-color);
    text-decoration: none;
    margin-left: 5px;
    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    &:hover {
        color: red;
    }
}
