body {
    width: 400px;
    padding: 10px;
    font-family: Arial, sans-serif;
}
#content,
#analysis {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}
.error {
    color: red;
    margin-top: 5px;
}
button {
    margin: 5px;
    padding: 5px 10px;
}
#settings {
    float: right;
    background-color: var(--ft-accent-color);
    border: 2px solid black;
}
#settings:hover {
    background-color: black;
}
