:root {
  --ft-accent-color: #23022e;
  --ft-primary-color: #b5838d; /* Light Pink */
  --ft-secondary-color: #6d6875; /* Lavender */
  --ft-text-color: #4a4a4a;
  --ft-background-color: #ffffff;
}

/* Scope button styles to our extension's classes */
.focus-extension button {
  background-color: var(--ft-primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.focus-extension button:hover {
  background-color: var(--ft-accent-color);
}

.focus-extension li:hover {
  background-color: red;
}

.focus-extension input[type="text"],
.focus-extension input[type="password"] {
  width: 100%;
}

.focus-extension input[type="text"],
.focus-extension input[type="password"],
.focus-extension select,
.focus-extension textarea,
.focus-extension .container {
  padding: 10px;
  border: 2px solid var(--ft-primary-color);
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.focus-extension input[type="text"]:focus,
.focus-extension input[type="password"]:focus,
.focus-extension select:focus,
.focus-extension textarea:focus,
.focus-extension .container:focus,
.focus-extension .content:focus {
  outline: none;
  border-color: var(--ft-accent-color);
}
