:root {
    --ft-accent-color: #23022e;
    --ft-primary-color: #b5838d; /* Light Pink */
    --ft-secondary-color: #6d6875; /* Lavender */
    --ft-text-color: #4a4a4a;
    --ft-background-color: #ffffff;
}

.ft-button {
    background-color: var(--ft-primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.ft-button:hover {
    background-color: var(--ft-accent-color);
}

.ft-chip:hover {
    background-color: red;
}

.ft-container {
    padding: 10px;
    border: 2px solid var(--ft-primary-color);
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus,
.ft-container:focus,
.content:focus {
    outline: none;
    border-color: var(--ft-accent-color);
}
